html, body {
   font-family: arial, sans-sarif;
   font-size: 13;
   margin: 0px;
   height: 100%;
}

#viewport {
   position: relative;
   height: 100%;
   top: 0;
   width: 100%;
}

#top-bar {
   padding:10px;
   display: block;
   float: right;
}

#gmail, #images, #squares, #sign-in {
	display: inline-block;
}

#central-content {
  clear: both;
  display: block | grid;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#search {
}

#search-bar {
	margin-left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#central-buttons {
	display: inline-block;
	margin-left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#bottom-bar {
   position: absolute;
   bottom:0;
   width:100%;
   height:55px;
   background: #f2f2f2;
   display: block;
}

#bottom-left {
	display: inline;
	float: left;
}

#bottom-right {
	display: inline;
	float: right;
} 


/* 





*/